<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    
    <title>User List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"  href="/style.css">
    
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<script>
		$('document').ready(function(){
			$('.table .btn-warning').on('click', function(event){
			
				event.preventDefault();
				
				var href= $(this).attr('href');
				
				$.get(href, function(client, status){
					$('#id').val(client.id);
					$('#name').val(client.name);
				
				});
				
				$('#editModal').modal();
			
			});
			
			
			
		
		});
	</script>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">NAV</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Lista de Usuários</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br/>
	<br/>
	<br/>

	
<div class="container">


	
<div class="row">

	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Novo Usuário</button>
	
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <form th:action="@{/addNew}" method="post" > 
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabelx">Cadastrar usuário</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Nome:</label>
		            <input type="text" class="form-control" id="recipient-name" required="required" name="name">
		          </div>
		      
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Salvar</button>
		      </div>
		    </div>
		  </div>
		</form>
	</div>
	
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <form th:action="@{/update}" method="put" > 
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="editModalLabel">Editar valores</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	
		            <input type="hidden" class="form-control" id="id" name="id">
		 
		      	
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Nome:</label>
		            <input type="text" class="form-control" id="name" name="name">
		          </div>
		      
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Salvar</button>
		      </div>
		    </div>
		  </div>
		</form>
	</div>



	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>Usuários:</span></th>
							<th style=" width: 4%">&nbsp;</th>
							<th style=" width: 6%">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client : ${clients}">
							<td>
								<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
								<a href="#" class="user-link"><span th:text="${client.name}"></a>
								<span class="user-subhead"><span th:text="${client.id}"></span>
							</td>
							
							<td>	
								<a th:href="@{/getOne/(id=${client.id})}" class="btn btn-warning">Editar</a>
							</td>
							
							<td>	
								<a th:href="@{/delete/(id=${client.id})}" class="btn btn-danger">Apagar</a>
							</td>
						</tr>
						
					</tbody>
				</table>
			</div>
			
		</div>
	</div> 
</div>
</div>



</body>
</html>